/* Google Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
@theme {
  --font-nunito: "Nunito", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  --color-blue: #3d5ce6;
  --color-text: #2c3e50;
  --color-warning: "#F1C40F";
  --color-error: "#E74C3C";
  --color-success: green;
  --color-bg1: #f0f4ff;
  --color-bg2: #fafcff;

  --breakpoint-sm: 30rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
}
html {
  @apply font-poppins bg-bg2;
}
.active {
  @apply text-blue font-bold;
}
